:root {
  --success-color: #00CB82;
  --warning-color: #E1CB00;
  --error-color: #CF6402;
}

.notification__container {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.notification {
  position: relative;
  width: 300px;
  min-height: 50px;
  border-radius: 5px;
  text-align: left;
  padding: 10px 35px 10px 15px;
  margin-top: 15px;
  animation: notification-in-right 0.7s, notification-close 8.5s;
  transition: 0.3s ease;
}

.notification_closed {
  animation: notification-close 3s;
}

.notification__success {
  background-color: var(--success-color);
}

.notification__warning {
  background-color: var(--warning-color);
}

.notification__error {
  background-color: var(--error-color);
}

.notification__text {
  color: #fff;
  font-size: 15px;
  margin: 0;
}

.notification__close {
  position: absolute;
  top: 12px;
  right: 8px;
  background: none;
  border: none;
  width: 15px;
  height: 15px;
  background-image: url(/public/img/close_icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@keyframes notification-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes notification-close {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
