.modal__container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  min-height: 200px;
  box-shadow: 0px 4px 100px #000;
}

.modal__container_large {
  width: 1100px;
}

.modal__container_medium {
  min-width: 800px;
}

.modal__container_small {
  width: 500px;
}

.modal__close {
  position: absolute;
  top: 0px;
  right: 8px;
  border: 0;
  cursor: pointer;
  background: none;
  transform: rotate(45deg);
  color: rgba(0, 0, 0, 0.8);
  font-size: 60px;
  transition: all 0.3s ease;
}

.modal__close:hover {
  color: #000;
}
