.driver__order {
  width: 100%;
  height: 105px;
  margin-top: 30px;
  position: relative;
  background: var(--primary-color-rgba);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.driver__order:first-child {
  margin-top: 90px;
}

.order__title {
  font-family: 'Rasa';
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-left: 30px;
}

.order__title:first-child {
  margin-left: 20px;
}

.order__text {
  font-family: 'Rasa';
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
  margin-left: 10px;
}

.button__offer {
  position: absolute;
  right: 36px;
}
