@import url(/src/styles/colors.css);

.modal__content {
  padding: 40px 60px;
  display: flex;
  align-items: center;
}

.img {
  width: 465px;
  height: 305px;
  background-color: #aeaeae;
  border-radius: 8px;
}

.card__block {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block__rating {
  display: flex;
  align-items: center;
}

.rating__text {
  font-family: 'Rasa';
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  color: #000;
  margin: 0;
}

.line {
  width: 43px;
  border: 1px solid #000;
  transform: rotate(-90deg);
}

.price__text {
  font-family: 'Rasa';
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  color: #000;
  margin: 0;
}

.info__block {
  width: 100%;
  margin-left: 75px;
  text-align: center;
}

.block__title {
  font-family: 'Rasa';
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: var(--primary-color);
  margin-top: 0px;
  margin-bottom: 30px;
}

.info__item {
  position: relative;
  display: flex;
  align-items: center;
}

.item__title {
  font-family: 'Rasa';
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: #000;
  margin: 0;
}

.item__text {
  font-family: 'Rasa';
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000;
  margin: 0;
  margin-left: 200px;
  position: absolute;
}

.block__button {
  margin-top: 25px;
}
