@import url(/src/styles/colors.css);

.notification__container {
  position: fixed;
  z-index: 1000;
  right: 50px;
  bottom: 50px;
}

.notification {
  position: relative;
  width: 600px;
  min-height: 70px;
  border-radius: 10px;
  text-align: left;
  padding: 20px 70px 20px 30px;
  margin-top: 15px;
  animation: notification-in-right 0.7s, notification-close 8.5s;
  transition: 0.3s ease;
}

.notification_closed {
  animation: notification-clicked-close 0.5s;
}

.notification__success {
  background-color: var(--notification-success-color);
}

.notification__warning {
  background-color: var(--notification-warning-color);
}

.notification__error {
  background-color: var(--notification-error-color);
}

.notification__text {
  color: #fff;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
}

.notification__close {
  position: absolute;
  top: 0px;
  right: 4px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  transform: rotate(45deg);
  font-size: 50px;
  transition: all 0.3s ease;
}

.notification__close:hover {
  color: #fff;
}

@keyframes notification-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes notification-close {
  70% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes notification-clicked-close {
  to {
    transform: translateY(3px);
    opacity: 0;
  }
}
