:root {
  --primary-color: #C4A267;
  --primary-color-rgba: rgba(196, 162, 103, 0.7);
  --focus-and-hover-color: #00A1E5;
  --hover-item-select-color: #C7F1FF;
  --invalid-color: #FC004C;
  --notification-success-color: #00CB82;
  --notification-warning-color: #E1CB00;
  --notification-error-color: #CF6402;
  --form-background-color: rgba(255, 254, 254, 0.7);
  --bg-dropdown-color: #3E3436;
  --disabled-color: #AEAEAE;
}