:root {
  --general-color: #000;
  --focus-and-hover-color: #00A1E5;
  --input-and-textarea-error-color: #FC004C;
  --success-color: #00CB82;
  --warning-color: #E1CB00;
  --error-color: #CF6402;
  --form-background: rgba(255, 254, 254, 0.7);
  --header-title: #C4A267;
}