@import url(/src/styles/colors.css);

.dropdown__container {
  position: relative;
  width: auto;
  z-index: 999;
}

.dropdown__content {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dropdown__text {
  color: #fff;
  font-family: 'Rasa', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.dropdown__arrow_down {
  margin-left: 3px;
  width: 16px;
  height: 4px;
  background-image: url(/public/img/dropdown__arrow_down.svg);
  background-size: cover;
  background-position: 0 0;
}

.dropdown__list {
  position: absolute;
  box-sizing: border-box;
  top: calc(100% + 5px);
  right: calc(-9%);
  padding: 0;
  margin: 0;
  z-index: 2;
}

.dropdown__item {
  position: relative;
  padding: 10px 30px;
  font-size: 28px;
  font-family: 'Rasa', sans-serif;
  font-weight: 400;
  list-style-type: none;
  background: var(--bg-dropdown-color);
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.9;
  transition: .2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.dropdown__item:hover {
  opacity: 1;
}


.dropdown__item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.dropdown__item:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: none;
}

.dropdown__item:first-child::after {
  content: " ";
  position: absolute;
  right: 10px;
  top: -8px;
  border-top: none;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid var(--bg-dropdown-color);
}

.dropdown__value {
  color: #fff;
}