.button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background: #00A1E6;
  border: 1px solid #00A1E6;
  color: #FFF;
  margin-top: 10px;
  transition: 0.2s ease;
}

.button:hover {
  border: 1px solid #000;
  color: #000;
}