.container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 25px 25px 50px 60px;
  border-top-left-radius: 20px;
  z-index: 777;
  background: #fff;
  animation: forgot-container-top 1.5s;
  transition: all 0.3s;
}

.text {
  margin: 0;
  width: 550px;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  color: #000;
}

.form__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.button {
  width: 125px;
  height: 80px;
  margin-left: 15px;
}

.container__close {
  position: absolute;
  top: 0px;
  right: 4px;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 50px;
  transition: all 0.3s ease;
}

.container__close:hover {
  color: #000;
}

@keyframes forgot-container-top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
