.button {
  width: 400px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  background: #00A1E6;
  border: none;
  color: #FFF;
  margin-top: 10px;
  font-size: 32px;
  transition: 0.2s ease;
}

.button:hover {
  background: #1eb1f0;
}

.button:active {
  transform: translateY(3px);
}

.button:disabled {
  background: #AEAEAE;
  cursor: not-allowed;
}
