.container {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  margin-top: 40px;
  width: 100%;
  height: 120px;
  background: #241D1E;
}

.header__content {
  display: flex;
  align-items: center;
}

.header__title {
  color: #C4A267;
  font-size: 50px;
}