@import url(/src/styles/colors.css);

.header {
  margin-top: 50px;
  width: 100%;
  height: 120px;
  background: #241D1E;

}

.container {
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: var(--header-title);
  margin: 0;
  padding: 10px 0px;
  font-size: 90px;
}