@import url(/src/styles/colors.css);

.container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 25px 25px 50px 60px;
  border-top-left-radius: 20px;
  z-index: 777;
  background: var(--form-background-color);
  animation: forgot-container-top 1.5s;
  transition: all 0.3s;
}

.text {
  margin: 0;
  width: 550px;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;
  color: #000;
}

.form__container {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.button {
  width: 125px;
  margin-left: 15px;
}

@keyframes forgot-container-top {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}