.wrapper__message {
  position: fixed;
  width: 835px;
  padding: 10px 32px 10px 32px;
  background: var(--primary-color-rgba);
  border-radius: 8px;
  text-align: center;
}

.message {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #fff;
}
