@import url(/src/styles/colors.css);

.modal__content {
  padding: 40px 175px 60px 175px;
}

.modal__title {
  margin: 0;
  text-align: center;
  width: 100%;
  font-family: 'Rasa';
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: var(--primary-color);
}

.modal__actions {
  margin-top: 30px;
  display: flex;
}
